:root {

    /* LAYOUT */
    --layout-color-1: #FFF;
    --layout-color-2: #F1F1F1;

    /* NAVIGATION */
    --grey-color-50: #656266;
    --grey-color-100: #616161;
    --grey-color-200: #322F33;
    --grey-color-300: #1C181D;

    /* FONT COLORS */
    --font-color-light: #E3E3E3;
    --font-color-mid: #616161;
    --font-color-dark: #303030;

    /* STROKES */
    --stroke-s50: #EBEBEB;
    --stroke-s100: #E1E1E1;
    --stroke-s200: #616161;
    --stroke-s300: #36FBA1;

    /* COMPONENT STATES */
    --hover-state: #F7F7F7;
    --pressed-state: #F0F0F0;
    --focused-state: #005BD3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    background: var(--layout-color-2);
}


/*------------------------ HEADER ----------------------------------------------*/
header {
    background-color: var(--grey-color-300);
    padding: .4rem .8rem;
    color: var(--font-color-light);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo-mobile {
    display: none;
}

.nav__form {
    display: flex;
    align-items: center;
    gap: .3rem;

    background: var(--grey-color-200);
    border: .1rem solid var(--stroke-s200);
    border-radius: .5rem;

    width: 30rem;
    padding: .4rem .5rem .4rem .5rem;
}

.nav__form--search-button {
    background: transparent;
    border: none;
}

.nav__form--search-icon {
    filter: grayscale(100%) brightness(90%) contrast(40%);
    width: 1rem;
    height: 1rem;

}

.nav__form--input {
    background: transparent;
    border: none;
    outline: none;
    padding: .1rem 0 .1rem 0;
    width: 100%;
    height: 100%;
}

.nav__form:hover {
    border: .1rem solid var(--stroke-s100);
}

.nav__form:active {
    border: .1rem solid var(--layout-color-1);
}

.nav__form:focus {
    border: .1rem solid var(--focused-state);
}

.flex {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.nav__notification-button {
    background: var(--grey-color-200);
    border: none;
    border-radius: .5rem;
    padding: .15rem .3rem;
}

.nav__notification-button:hover,
.nav__notification-button:active,
.nav__notification-button:focus {
    background: var(--grey-color-100);
    outline: none;
}

.nav__notification-container {
    position: relative;
}

/* .nav__notification-icon {
    filter: grayscale(100%) brightness(90%) contrast(20%);
    width: 1.5rem;
    height: 1.5rem;
} */

.nav__notification--list {
    position: absolute;
    top: 4rem;
    right: .85rem;

    background: var(--layout-color-1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    display: none;

    border-radius: 0.875rem;
    /* border: 0.5rem solid var(--stroke-s50); */
}

.nav__notification--list.active {
    display: block;
}

.nav__notification--list section {
    display: flex;
    justify-content: space-between;
}

.nav__notification--list section span {
    font-size: 0.875rem;
    font-weight: 600;
    font-style: normal;
    color: var(--font-color-dark);
}

.nav__notification-list__buttons-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.nav__notification-list__buttons-container button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.nav__notification-list__buttons-container button svg {
    width: 1.5rem;
    height: 1.5rem;
}

.nav__notification-list__buttons-container button:focus,
.nav__notification-list__buttons-container button:active {
    outline: none;
    border: 0.125rem solid var(--focused-state);
    border-radius: .4rem;
}

.nav__notification-list__message {
    background: var(--hover-state);
    padding: 1rem;
    font-size: 0.8345rem;
    font-weight: 600;
    font-style: normal;
    color: var(--font-color-mid);
}

.nav__profile-menu-container {
    position: relative;
}

.nav__profile-menu-button {
    background: var(--grey-color-200);
    border-radius: .5rem;
    border: none;
    color: var(--font-color-light);
  
    padding: .5rem 0.125rem .5rem 0.5rem;
}

.nav__profile-menu-button:hover,
.nav__profile-menu-button:active,
.nav__profile-menu-button:focus {
    background: var(--grey-color-100);
}

.nav__profile-menu-container button:focus {
    outline: none;
    border: 0.125rem solid var(--focused-state)
}

.nav__profile-menu--brand-name {
    font-size: .78rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.nav__profile-menu--brand-abrv {
    background: var(--stroke-s300);
    border-radius: 6px;
    border: none;
    padding: .5rem;

    color: rgba(0, 0, 0, 0.40);

    text-align: center;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.nav__profile-menu--content {
    list-style: none;

    position: absolute;
    top: 3rem;
    right: .2rem;

    background: var(--layout-color-1);
    display: flex;
    width: 20rem;
    padding: 0.375rem 0.4rem;
    flex-direction: column;
    align-items: flex-start;
    gap: .4rem;

    border-radius: 0.875rem;
    border: 1px solid var(--stroke-s50);
    transition: all ease-in-out 0.15s;

    display: none;
}

.nav__profile-menu--content.active {
    display: block;
}

.nav__profile-menu-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    border-radius: 0.5rem;
    background: var(--hover-state);
    padding: .4rem;
}

.nav__profile-menu-brand div {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.nav__profile-menu-brand .brand-logo {
    padding: .4rem 0.36719rem .4rem 0.38281rem;

    border-radius: 0.32813rem;
    background: var(--stroke-s300);
    font-size: 0.65625rem;
    color: var(--grey-color-50);
}

.nav__profile-menu-brand .brand-name {
    font-size: 0.8445rem;
    color: var(--font-color-dark);
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.nav__menu--item {
    border-radius: 0.5rem;

    cursor: pointer;
    width: 100%;
    height: 100%;
}

.nav__menu--item button {
    background: transparent;
    color: var(--font-color-dark);

    font-size: 0.8445rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    padding: 0.375rem;
    width: 100%;
    height: 100%;
    text-align: left;

    border-radius: 0.5rem;
    border: none;
}

.nav__profile-menu--content li:nth-child(2) button {
    display: flex;
    gap: .3rem;
    align-items: end;
}

.nav__profile-menu--content li:nth-child(8) button {
    display: flex;
    flex-direction: column;
}

.nav__profile-menu--content li:nth-child(8) button span:nth-child(1) {
    color: var(--font-color-dark);
    font-weight: 500;
}

.nav__profile-menu--content li:nth-child(8) button span:nth-child(2) {
    font-size: 0.75rem;
    color: var(--grey-color-100);
}

.nav__menu--item button:hover {
    background: var(--hover-state);
}

.nav__menu--item button:active {
    background:  var(--hover-state);
}

.nav__menu--item button:focus {
    outline: none;
    border: 0.125rem solid var(--focused-state);
}

/* ADD ACCESSIBILITY FOR NAVIGATION */

/* Adding focus styles for better keyboard navigation */
/* .nav__form--input:focus,
    .nav__form--search-icon:focus,
    .nav__form--input:focus-visible,
    .nav__form--search-icon:focus-visible {
      outline: 2px solid blue; 
      Example focus style; adjust as needed 
    } */

/*-------------------------------- MAIN ---------------------------------------*/
.trial-subscription__container {
    display: flex;
    width: 60%;
    margin: 2rem auto 1rem auto;
    padding: 0.75rem 0.5rem 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;

    background: var(--grey-color-300);
    border-radius: .5rem;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    color: var(--font-color-light);
}

.trial-subscription__container div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trial-subscription__container div button:nth-child(1) {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    color: var(--font-color-dark);

    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
}

.trial-subscription__remove-button {
    background: transparent;
    border: none;
}


/* MOBILE QUERY */
@media (max-width: 599px) {

    /*---------------------- HEADER ------------------------------------------*/
    header {
        padding: .4rem 1rem;
    }

    .nav__logo-desktop {
        display: none;
    }

    .nav__logo-mobile {
        display: block;
    }

    .nav__notification-button {
        background: none;
    }

    .nav__form {
        width: 14rem;
    }

    .nav__profile-container {
        padding-left: 0;
    }

    .nav__profile--brand-name {
        display: none;
    }

    .nav__profile-button {
        padding: .35rem
    }
}