:root {

    /* LAYOUT */
    --layout-color-1: #FFF;
    --layout-color-2: #F1F1F1;

    /* NAVIGATION */
    --grey-color-50: #656266;
    --grey-color-100: #616161;
    --grey-color-200: #322F33;
    --grey-color-300: #1C181D;

    /* FONT COLORS */
    --font-color-light: #E3E3E3;
    --font-color-mid: #616161;
    --font-color-dark: #303030;

    /* STROKES */
    --stroke-s50: #EBEBEB;
    --stroke-s100: #E1E1E1;
    --stroke-s200: #616161;
    --stroke-s300: #36FBA1;
    --stroke-s400: #F3F3F3;
    --stroke-s500: #404040;

    /* COMPONENT STATES */
    --hover-state: #F7F7F7;
    --pressed-state: #F0F0F0;
    --focused-state: #005BD3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    background: var(--layout-color-2);
}

img {
    max-width: 100%;
}


/*------------------------ HEADER ----------------------------------------------*/
header {
    background-color: var(--grey-color-300);
    padding: .4rem .8rem;
    color: var(--font-color-light);
    margin-bottom: 1.5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo-mobile {
    display: none;
}

.nav__form {
    display: flex;
    align-items: center;
    gap: .3rem;

    background: var(--grey-color-200);
    border: .1rem solid var(--stroke-s200);
    border-radius: .5rem;

    width: 30rem;
    padding: .4rem .5rem .4rem .5rem;
}

.nav__form--search-button {
    background: transparent;
    border: none;
}

.nav__form--input {
    background: transparent;
    border: none;
    outline: none;
    padding: .1rem 0 .1rem 0;
    width: 100%;
    height: 100%;
}

.nav__form:hover {
    border: .1rem solid var(--stroke-s100);
}

.nav__form:active {
    border: .1rem solid var(--layout-color-1);
}

.nav__form:focus {
    border: .1rem solid var(--focused-state);
}

.flex {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.nav__notification-button {
    background: var(--grey-color-200);
    border: none;
    border-radius: .5rem;
    padding: .15rem .3rem;
}

.nav__notification-button:hover,
.nav__notification-button:active,
.nav__notification-button:focus {
    background: var(--grey-color-100);
    outline: none;
}

.nav__notification-container {
    position: relative;
}

.nav__notification--list {
    position: absolute;
    top: 4rem;
    right: .85rem;

    background: var(--layout-color-1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    display: none;
    z-index: 15;

    border-radius: 0.875rem;
}

.nav__notification--list.active {
    display: block;
}

.nav__notification--list section {
    display: flex;
    justify-content: space-between;
}

.nav__notification--list section span {
    font-size: 0.875rem;
    font-weight: 600;
    font-style: normal;
    color: var(--font-color-dark);
}

.nav__notification-list__buttons-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.nav__notification-list__buttons-container button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.nav__notification-list__buttons-container button svg {
    width: 1.5rem;
    height: 1.5rem;
}

.nav__notification-list__buttons-container button:focus,
.nav__notification-list__buttons-container button:active {
    outline: none;
    border: 0.125rem solid var(--focused-state);
    border-radius: .4rem;
}

.nav__notification-list__message {
    background: var(--hover-state);
    padding: 1rem;
    font-size: 0.8345rem;
    font-weight: 600;
    font-style: normal;
    color: var(--font-color-mid);
}

.nav__profile-menu-container {
    position: relative;
}

.nav__profile-menu-button {
    background: var(--grey-color-200);
    border-radius: .5rem;
    border: none;
    color: var(--font-color-light);
  
    padding: .5rem 0.125rem .5rem 0.5rem;
}

.nav__profile-menu-button:hover,
.nav__profile-menu-button:active,
.nav__profile-menu-button:focus {
    background: var(--grey-color-100);
}

.nav__profile-menu-container button:focus {
    outline: none;
    border: 0.125rem solid var(--focused-state);
}

.nav__profile-menu--brand-name {
    font-size: .78rem;
    font-weight: 500;
}

.nav__profile-menu--brand-abrv {
    background: var(--stroke-s300);
    border-radius: 6px;
    border: none;
    padding: .5rem;

    color: rgba(0, 0, 0, 0.40);

    text-align: center;
    font-size: .75rem;
    font-weight: 500;
}

.nav__profile-menu--content {
    list-style: none;

    position: absolute;
    top: 3rem;
    right: .2rem;

    background: var(--layout-color-1);
    display: flex;
    width: 20rem;
    padding: 0.375rem 0.4rem;
    flex-direction: column;
    align-items: flex-start;
    gap: .4rem;
    z-index: 16;

    border-radius: 0.875rem;
    border: 1px solid var(--stroke-s50);
    transition: all ease-in-out 0.15s;

    display: none;
}

.nav__profile-menu--content.active {
    display: block;
}

.nav__profile-menu-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    border-radius: 0.5rem;
    background: var(--hover-state);
    padding: .4rem;
}

.nav__profile-menu-brand div {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.nav__profile-menu-brand .brand-logo {
    padding: .4rem 0.36719rem .4rem 0.38281rem;

    border-radius: 0.32813rem;
    background: var(--stroke-s300);
    font-size: 0.65625rem;
    color: var(--grey-color-50);
}

.nav__profile-menu-brand .brand-name {
    font-size: 0.8445rem;
    color: var(--font-color-dark);
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.nav__menu--item {
    border-radius: 0.5rem;

    cursor: pointer;
    width: 100%;
    height: 100%;
}

.nav__menu--item button {
    background: transparent;
    color: var(--font-color-dark);

    font-size: 0.8445rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    padding: 0.375rem;
    width: 100%;
    height: 100%;
    text-align: left;

    border-radius: 0.5rem;
    border: none;
}

.nav__profile-menu--content li:nth-child(2) button {
    display: flex;
    gap: .3rem;
    align-items: end;
}

.nav__profile-menu--content li:nth-child(10) button {
    display: flex;
    flex-direction: column;
}

.nav__profile-menu--content li:nth-child(10) button span:nth-child(1) {
    color: var(--font-color-dark);
    font-weight: 500;
}

.nav__profile-menu--content li:nth-child(10) button span:nth-child(2) {
    font-size: 0.75rem;
    color: var(--grey-color-100);
}

.custom-line {
    height: 0.04688rem;
    background: var(--stroke-s100);
    margin: .4rem 0;
}

.nav__menu--item button:hover {
    background: var(--hover-state);
}

.nav__menu--item button:active {
    background:  var(--hover-state);
}

.nav__menu--item button:focus {
    outline: none;
    border: 0.125rem solid var(--focused-state);
}

/*-------------------------------- MAIN ---------------------------------------*/
.trial-subscription__container {
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding: 0.75rem 0.5rem 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;

    background: var(--grey-color-300);
    border-radius: .5rem;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    color: var(--font-color-light);
}

.trial-subscription__container.remove {
    display: none;
}

.trial-subscription__container div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trial-subscription__container div button:nth-child(1) {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    color: var(--font-color-dark);
    cursor: pointer;

    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
}

.trial-subscription__remove-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: .2rem;
    border-radius: 0.375rem;
}

.trial-subscription__remove-button:hover {
    background: var(--grey-color-200);
}

.trial-subscription__container div button:nth-child(1):focus,
.trial-subscription__remove-button:focus {
    outline: none;
    border: 0.125rem solid var(--focused-state)
}

/* SETUP GUIDE SECTION */
.setup-guide__container {
    width: 60%;
    margin: 1rem auto;
    padding: 0.75rem 0.5rem 0.75rem 0.5rem;
    border-radius: 1.125rem;
    border: 1px solid var(--stroke-s50);
    background: var(--layout-color-1);
}

.setup-guide__container section:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--font-color-dark);
}

.setup-guide__container section:nth-child(1) div span:nth-child(1) {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
}

.setup-guide__container section:nth-child(1) div p {
    font-size: 0.8125rem;
    font-weight: 400;
    margin: .5rem 0;
}

.setup-guide__accordion {
    display: none;
    transition: all ease-in-out 0.3s;
}

.setup-guide__accordion.open-accordion {
    display: block;
}

.setup-guide__accordion--button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: .2rem .3rem;
    border-radius: .324rem;
}

.setup-guide__accordion--visible-icon {
    display: none;
}

.setup-guide__accordion--button:hover {
    background: var(--stroke-s50);
}

.setup-guide__accordion--button:focus {
    outline: none;
    background: transparent;
    border: 0.125rem solid var(--focused-state);
}

.setup-guide__accordion ul {
    list-style: none;
    margin-top: .6rem;
}

.setup-guide__accordion ul li {
    display: flex;
    align-items: center;
    gap: .8rem;
    margin: 1rem 0;
}

.setup-guide__accordion ul li button:nth-child(1) {
    align-self: flex-start;
}

.setup-guide__complete-button {
    padding-top: .4rem;
    padding-left: .2rem;
}

.setup-guide__accordion--list article {
    padding-top: .4rem;
}

.setup-guide__accordion li:focus {
    outline: none;
    border: 0.125rem solid var(--focused-state);
}

.setup-guide__list-content-container {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.setup-guide__list-content a {
    text-decoration: none;
    color: var(--focused-state);
}

.setup-guide__accordion--content {
    display: none;
}

.setup-guide__accordion--content.active {
    display: block;
}

.setup-guide__accordion--list.add-style {
    background: var(--stroke-s400);
    border-radius: 0.625rem;
}

.progress-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.progress-text {
    font-size: 0.75rem;
    font-weight: 400;
    margin-right: 1rem;
}

.progress-bar {
    width: 7rem;
    height: .5rem;
    background-color: var(--font-color-light);
    border-radius: 1.5rem;
    margin-top: .2rem;
}

.progress-bar-full {
    height: .5rem;
    background-color: #1A1A1A;
    width: 0%;
    min-width: .3rem;
    border-radius: 1em;
    transition: width 0.5s ease-in-out;
}

.setup-guide__container ul li button:nth-child(1) {
    background: transparent;
    border: none;
    cursor: pointer;
}

.setup-guide__list-title {
    cursor: pointer;
}

.setup-guide__list-title,
.setup-guide__list-content {
    font-size: 0.8125rem;
    font-weight: 500;
    color: var(--font-color-dark);
}

.setup-guide__list-content {
    color: var(--font-color-mid);
    margin: 1rem 0;
}

.setup-guide__list-content--button-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.setup-guide__list-content--button-two {
    color: var(--font-color-dark);
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    border: none;
    margin-left: 1rem;

}

.setup-guide__list-content--button-two:hover {
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #F7F7F7;
    box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
}

.setup-guide__list-content--button-two:focus {
    outline: none;
    border: 1.5px solid var(--focused-state);
} 

.setup-guide__list-content--button {
    background: var(--stroke-s500);
    font-size: 0.75rem;
    color: var(--font-color-light);
    font-weight: 600;
    padding: 0.375rem 0.75rem;

    border-radius: 0.375rem;
}

.button-complete {
    display: none;
}

.setup-guide__list-content--button:hover {
    background: #2A2A2A;
}

.setup-guide__list-content--button:active {
    background: #2B2B2B;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}

.setup-guide__list-content--button:focus {
    background: #404040;
    box-shadow: 0px 0px 0px 2px #005BD3, 0px 0px 0px 3px #FFF, 0px 0px 0px 1.5px #333;
}

/* MOBILE QUERY */
@media (max-width: 599px) {

    /*---------------------- HEADER ------------------------------------------*/
    header {
        padding: .4rem 1rem;
    }

    .nav__logo-desktop {
        display: none;
    }

    .nav__logo-mobile {
        display: block;
    }

    .nav__notification-button {
        background: none;
    }

    .nav__form {
        width: 14rem;
    }

    .nav__profile-menu-container {
        padding: 0;
    }

    .nav__profile-menu--brand-name {
        display: none;
    }

    .nav__profile-menu-button {
        padding: .7rem .2rem .7rem .2rem;
    }

    .trial-subscription__container {
        display: block;
        position: relative;
    }

    .trial-subscription__container p {
        width: 80%;
    }

    .trial-subscription__container div button:nth-child(1) {
        margin-top: 1.1rem;
    }

    .trial-subscription__remove-button {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    .trial-subscription__container,
    .setup-guide__container {
        width: 100%;
        border-radius: 0rem;
    }

    .setup-guide__accordion ul li img {
        display: none;
    }

    .setup-guide__accordion--list article {
        padding-bottom: .4rem;
        padding-right: .5rem;
    }
}